
	<footer class="py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center"><span>Copyright&copy 2019 Lorem Ipsum</span></div>
				<div class="col-md-6 text-center">Desenvolvido por <a class="text-dark font-weight-bold" href="https://www.github.com/rodrigoolv">RodrigoOlv</a></div>
			</div>
		</div>
		<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
		<script src="vendor/components/jquery/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
  		<script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
	</footer>

</body>
</html>