<div id="main">
		<div class="container">
			<div class="row">
				<article class="col-lg-8">
					<h2>Bem-vindo!</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa lectus, sagittis nec neque ut, convallis pulvinar leo. Aenean condimentum lectus lectus, in sodales risus viverra quis. Donec nec tincidunt est, ut sodales eros. In mollis dapibus metus. Suspendisse at convallis dui. Quisque varius accumsan semper. Maecenas finibus augue ac aliquam ultrices.
					</p>
				</article>
				<aside class="col-lg-4">
					<section class="mx-auto">
						<figure>
						<img src="img/shitzu.jpg" alt="Shitzu" class="img-thumbnail img-fluid">
					</figure>
					<figure>
						<img src="img/chow-chow.jpg" alt="ChowChow" class="img-thumbnail img-fluid">
					</figure>
					<figure>
						<img src="img/kitten.jpg" alt="Gato" class="img-thumbnail img-fluid">
					</figure>	
					</section>
				</aside>
			</div>
		</div>		
	</div>