<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Bem-Vindo - PetShop</title>
	<meta charset="utf-8">
	<meta name="description" content="Template para Petshop">
	<meta name="keywords" content="pet petshop pets animais bichinhos cães gatos">
	<meta name="author" content="RodrigoOlv">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.png">
	<link rel="stylesheet" type="text/css" href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

	<header>
		
		<nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">
					<h1>
						<img src="../img/logo.svg" alt="PetShop" class="img-fluid">
					</h1>
				</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    		<span class="navbar-toggler-icon"></span>
			  	</button>

			  	<div class="collapse navbar-collapse" id="menu">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item active">
			        		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="#">Quem somos</a>
			      		</li>
			      		<li class="nav-item dropdown">
			        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          			Serviços
		        			</a>
		        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          			<a class="dropdown-item nav-link" href="#">Banho e Tosa</a>
			          			<a class="dropdown-item nav-link" href="#">Veterinária</a>
			          			<div class="dropdown-divider"></div>
			          			<a class="dropdown-item nav-link" href="#">Produtos</a>
		          				
			        		</div>
			      		</li>
			      		<li class="nav-item">
			        		<a class="nav-link" href="#">Fale conosco</a>
			      		</li>
			    	</ul>
			    	<form class="form-inline my-2 my-lg-0">
			      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      		<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
			      			<span class="fas fa-search"></span>
			      		</button>
			    	</form>
			  	</div>
		  	</div>
		</nav>		
	</header>

	<div id="main">
		<div class="container">
			<div class="row">
				<article class="col-lg-8">
					<h2>Bem-vindo!</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa lectus, sagittis nec neque ut, convallis pulvinar leo. Aenean condimentum lectus lectus, in sodales risus viverra quis. Donec nec tincidunt est, ut sodales eros. In mollis dapibus metus. Suspendisse at convallis dui. Quisque varius accumsan semper. Maecenas finibus augue ac aliquam ultrices.
					</p>
				</article>
				<aside class="col-lg-4">
					<section class="mx-auto">
						<figure>
						<img src="../img/shitzu.jpg" alt="Shitzu" class="img-thumbnail img-fluid">
					</figure>
					<figure>
						<img src="../img/chow-chow.jpg" alt="ChowChow" class="img-thumbnail img-fluid">
					</figure>
					<figure>
						<img src="../img/kitten.jpg" alt="Gato" class="img-thumbnail img-fluid">
					</figure>	
					</section>
				</aside>
			</div>
		</div>		
	</div>

	<footer class="py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center"><span>Copyright&copy 2019 Lorem Ipsum</span></div>
				<div class="col-md-6 text-center">Desenvolvido por <a class="text-dark font-weight-bold" href="https://www.github.com/rodrigoolv">RodrigoOlv</a></div>
			</div>
		</div>
		<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
		<script src="../vendor/components/jquery/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
  		<script src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
	</footer>

</body>
</html>