<div id="main">
	<div class="container">
		<section>
			<h2>Quem somos</h2>
			<figure>
				<img src="img/australian-shepherd.jpg" alt="Pastor Australiano" class="img-thumbnail float-right ml-5">
				<p>
					Aenean nec consequat leo, eget ullamcorper nulla. Ut a pretium leo, quis pellentesque mauris. Integer pulvinar fermentum condimentum. Ut nec orci molestie, consequat neque vitae, condimentum sapien. Nulla id libero eu mauris vestibulum fermentum. Vivamus porttitor condimentum metus sed tempor. Quisque aliquam ex at dolor consectetur, a auctor leo accumsan. In accumsan ultrices diam, quis bibendum ante tincidunt nec. Nullam id sodales lectus. Morbi vel euismod ipsum. Nulla pulvinar, ante in pharetra sodales, ipsum nisi ultricies quam, non tempor libero metus in arcu. Duis eu condimentum metus. Etiam sit amet massa lobortis, cursus magna volutpat, venenatis est.
				</p>
			</figure>
			
			<h2>
				Missão
			</h2>
			<p>
				Etiam ac tincidunt mauris. Cras eget scelerisque libero, eu molestie magna. Aenean rutrum sem nec nisl facilisis feugiat. Maecenas laoreet varius ex, in rhoncus nibh tempus at. Fusce vitae bibendum quam. Mauris fringilla sapien a sem pulvinar, ac tincidunt ante pulvinar. Nulla iaculis leo sit amet molestie vulputate.
			</p>
		</section>
	</div>
</div>